.Certs{
    padding-top: 70PX;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1em;
}
@media screen and (max-width: 800px) {
    .Certs{
        padding-top: 80PX;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
}